html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.header {
    font-size: 50px;
    height: 50vh;
    background: #293744;
    color: #899eb5;   
}

.scene {
    height: 100%;
    width: 100%;
    background: #eaeaea;
    position: relative;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.fin {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #293744;
}
// animation

$frame-count: 15;
$offset-val: 480;

.viewer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 480px;
    width: 480px;
    background-image: url(ressources/gifsplit.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
@for $i from 1 through $frame-count {

    .viewer.frame#{$i} {
        background-position: -($i * $offset-val) + px 0;
    }

}