body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #e0e0e0;
    font-weight: 500;
    overflow-x: hidden;
}
section {
    height: 700px;
    width: 100vw;
}

.accueil {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
}
.grilleCSS {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1 / span 12;
}
.projet-left .box {
    grid-column: 3 / span 5;
    grid-row: 1 / span 3;
    width: 100%;
}
.projet-info {
    background: #fff;
    padding: 20px 20px 30px 20px;
}
.projet-left .box {
    grid-column: 3 / span 5;
    grid-row:  1 / span 3;
    width: 100%;
}
.projet-left .projet-info {
    grid-column: 7 / span 3;
    grid-row: 2 / span 1;
}

/* right */

.projet-right .box {
    grid-column: 6 / span 5;
    grid-row: 1 / span 3;
    width: 100%;
}
.projet-right .projet-info {
    grid-column: 5 / span 2;
    grid-row: 2 / span 1;
}
.box {
    position: relative;
    overflow: hidden;
}
img {
    width: 100%;
}

.overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: #e0e0e0;
    width: 100%;
    height: 100%;
}