body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.blocHorizontal {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.container {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;

    /* pour ie et mozilla */
    -ms-overflow-style: none;
    scrollbar-width: none;

}
::-webkit-scrollbar {
    display: none;
}
.one {
    background: #b1f8f2;
}
.two {
    background: #fffc99;
}
.three {
    background: #eafdcf;
}
.four {
    background: #8e8358;
}