body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
}
.accueil {
    height: 100%;
    width: 100%;
    background: url("ressources/img1.jpg") no-repeat 0 0;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 120px;
    text-align: center;
    color: #363636;
    width: 100%;
}
.section {
    height: 100vh;
    width: 100%;
    position: relative;
}
.s1 {
    background: url("ressources/img2.jpg") no-repeat 0 0;
    background-size: cover;
    background-attachment: fixed;
}
.s2 {
    background: url("ressources/img3.jpg") no-repeat 0 0;
    background-size: cover;
    background-attachment: fixed;
}
.s3 {
    background: url("ressources/img4.jpg") no-repeat 0 0;
    background-size: cover;
    background-attachment: fixed;
}
.s4 {
    background: url("ressources/img5.jpg") no-repeat 0 0;
    background-size: cover;
    background-attachment: fixed;
}
.blocTxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 300px;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
}
.sousTitreTxt {
    font-size: 45px;
    text-align: center;
}
.txt {
    font-size: 18px;
    padding: 10px 40px;
}